<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    数据表
  </title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
    <h2>信息录入:</h2>
    <hr/>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <form>
          <div class="form-group">
            <label for="exampleInputUsername">输入名字</label>
            <input type="text" class="form-control" name="username" placeholder="输入名字">
          </div>
          <div class="form-group">
            <label for="exampleInputAge">输入年龄</label>
            <input type="text" class="form-control" name="age" placeholder="输入年龄">
          </div>
          <div class="form-group">
            <label for="exampleInputAge">输入电话</label>
            <input type="text" class="form-control" name="phone" placeholder="输入电话">
          </div>
          <button type="button" class="btn btn-primary" id="submit_from">提交</button>
        </form>
        <hr/>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>姓名</th>
              <th>年龄</th>
              <th>电话</th>
              <th>录入/更新时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody id="tableData">

          </tbody>
        </table>
        <div id="pagesUi">
          <ul class="pagination" id="pages">
          </ul>
          <div class="pageJump">
            <span>跳转到</span>
            <input type="text" name="pages" />
            <span>页</span>
            <button type="button" class="button_sure">确定</button>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/pager.js"></script>
</body>
<script>
  var num = 1;
  //录入
  $("#submit_from").off("click").on("click", function () {
    var data = {
      username: $("[name='username']").val(),
      age: $("[name='age']").val(),
      phone: $("[name='phone']").val()
    }
    if (!(/^1[34578]\d{9}$/.test(data.phone))) {
      alert("手机格式不正确");
      return;
    }
    var _this = $(this);
    // setTimeout(function () {
    $.ajax({
      url: '/postForm',
      type: 'POST',
      data: data,
      timeout: 5000,
      dataType: 'json',
      beforeSend: function (xhr) {
        _this.text('loading..').attr("disabled", "false");
      },
      success: function (data) {
        alert(data.message);
        peopleData(num);
        _this.removeAttr("disabled").text('提交');
        $("[name='username']").val("");
        $("[name='age']").val("");
        $("[name='phone']").val("");
      },
      error: function (xhr) {
        var err = xhr.responseJSON;
        _this.removeAttr("disabled").text('提交');
        alert(err.message);
      }
    })
    // }, 4000)
  })
  //获取录入数据
  function peopleData(pageNum) {
    $.get("/getData", { "page": pageNum }, function (res) {
      var _html = '';
      var sqr = false;
      var da = res.value;
      if (res.statusCode == 1) {
        if (res.totle < 2) {
          $("#pagesUi").hide();
        } else {
          $("#pagesUi").show();
        }
        pg(res.totle, res.page);
        if (da.length == 0) {
          _html += "<tr><th scope='row'></th><td style='text-align:center;line-height:40px;font-size:18px;color:#999;'>暂无数据</td><td></td><td></td></tr>"
        } else {
          $.each(da, function (idx, item) {
            idx = idx + 1;
            _html += "<tr class='oid'><th scope='row'>" + idx + "</th><td><input readonly='readonly' type='text' name='usernames' placeholder='" + item.username + "'></td><td><input readonly='readonly' type='text' name='ages' placeholder=" + item.age + "岁></td></td><td><input readonly='readonly' type='text' name='phones' placeholder=" + item.phone + "></td><td>" + formatData(item.createDate) + "</td>" +
              "<td><div class='icon_fonts'><span class='caozuo glyphicon glyphicon-cog'></span><span data-item=" + item._id + " class='del glyphicon glyphicon-trash'></span></div><div class='icon_Caozuo'><span class='edit glyphicon glyphicon-pencil'></span><span class='sure glyphicon glyphicon-ok' data-id=" + item._id + "></span><span class='closed glyphicon glyphicon-remove'></span></div></td></tr>";
          })
        }
        $("#tableData").html(_html)
        //切换状态
        $(".caozuo").off("click").on("click", function () {
          $(this).parent(".icon_fonts").hide();
          if ($(this).parent(".icon_Caozuo").css("display") == 'block') {
            $(this).parent(".icon_fonts").siblings(".icon_Caozuo").hide();
          } else {
            $(this).parent(".icon_fonts").siblings(".icon_Caozuo").show();
          }

        })
        //关闭
        function colose(t) {
          t.parent(".icon_Caozuo").hide();
          t.parent(".icon_Caozuo").siblings(".icon_fonts").show();
          t.parents(".oid").find('input').attr("readonly", "readonly").css("background", 'none');;
          t.siblings(".edit").css("color", '#666');
          stf = true;
          $("[name='usernames']").val("");
          $("[name='ages']").val("");
          $("[name='phones']").val("");
        }
        $(".closed").off("click").on("click", function () {
          var _this = $(this)
          colose(_this);
        })
        //编辑
        $(".icon_Caozuo .edit").off("click").on("click", function () {
            if($(this).css('color')!=="rgb(204, 204, 204)"){
              $(this).css("color", '#ccc');
              $(this).parents(".oid").find("input").removeAttr("readonly").css("background", '#eee');
              $(this).parents(".oid").find("[name='usernames']").focus();
            }else{
              $(this).css("color", '#666');
              $(this).parents(".oid").find('input').attr("readonly", "readonly").css("background", 'none');
            }
        })
        //更改
        $(".icon_Caozuo .sure").off("click").on("click", function () {
          var _this = $(this);
          var id = _this.data("id"),
            names = _this.parents(".oid").find("[name='usernames']").val(),
            ages = _this.parents(".oid").find("[name='ages']").val(),
            phones = _this.parents(".oid").find("[name='phones']").val();
          var data = {
            uid: id,
            username: names,
            age: ages,
            phone: phones
          }
          $.ajax({
            url: "/upDate",
            type: "POST",
            data: data,
            success: function (res) {
              if (res.statusCode == 1) {
                colose(_this);
                peopleData(num);
                alert(res.message);
              }
            }, error: function (xhr) {
              var err = xhr.responseJSON;
              alert(err.message);
            }
          })
        })
        //删除功能
        $(".del").off("click").on("click", function () {
          var item = $(this).data('item');
          $.ajax({
            url: "/delData",
            type: "DELETE",
            data: { id: item },
            success: function (res) {
              if (res.statusCode == 1) {
                alert("删除成功!");
                peopleData(num);
              }
            }, error: function (xhr) {
              var err = xhr.responseJSON;
              alert(err.message);
            }
          })
        })
      } else {
        alert(res.message);
      }
    })
  }
  //页码数据
  function pg(totle, page) {
    Page({
      num: totle,
      startnum: page,
      elem: $('#pages'),
      callback: function (n) {
        peopleData(n);
      }
    });
  }
  //初始化第一页
  peopleData(num);
  //跳转输入
  $(".button_sure").off("click").on("click", function () {
    var v = $("input[name='pages']").val();
    if (!(/^[0-9]*$/.test(v))) {
      alert("只能输入数字");
      return;
    }
    peopleData(v);
  })
  //时间格式化
  function formatData(sj) {
    var t = parseInt(sj);
    var time = new Date(t);
    var y = time.getFullYear();//年
    var m = time.getMonth() + 1;//月
    var d = time.getDate();//日
    var h = time.getHours();//时
    var mm = time.getMinutes();//分
    var min = '';
    if (mm < 10) {
      min = '0' + mm;
    } else {
      min = mm;
    }
    // var s = time.getSeconds();//秒
    return y + "-" + m + "-" + d + " " + h + ":" + min;
  }
</script>

</html>